<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <head>
      <h1><%= title %></h1>
    </head>
    <div role="main">
      <p><%= content %></p>
      <p>
        <table>
          <!-- 第二引数にパーシャルに引き渡す値をまとめたオブジェクトを入れる -->
          <% for(var key in data) { %>
            <%- include('data_item', {key: key, val: [data[key]]}) %>
          <% } %>
        </table>
      </p>
    </div>
  </body>
</html>
